<!DOCTYPE html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}COLTAB{% endblock %}</title>
      
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Sitio externo del Gobierno de la Ciudad de Buenos Aires.">
        
        {% block stylesheets %}{% endblock %}
        <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet" media="all">
        <link href="{{ asset('css/jquery-ui.min.css') }}" rel="stylesheet" media="screen">
        <link href="{{ asset('css/styles.css') }}" rel="stylesheet" media="all">
        <script src="{{ asset('js/jquery-1.11.3.min.js') }}"></script>

        <script src="{{ asset('js/jquery.min.js') }}"></script>
        <script src="{{ asset('js/jqueryUI.js') }}"></script>
        <script src="{{ asset('js/bootstrap.min.js') }}"></script>
        
        <!-- Angular JS -->
        <script src="{{ asset('js/angular/angular.min.js') }}" type="text/javascript"></script>
        <script src="{{ asset('js/angular/angular-route.min.js') }}" type="text/javascript"></script>
        <script src="{{ asset('js/angular/angular-resource.min.js') }}" type="text/javascript"></script>
        <script src="{{ asset('js/angular/angular-animate.min.js') }}" type="text/javascript"></script>
        <script src="{{ asset('js/angular/ui-bootstrap-tpls-0.13.3.min.js') }}" type="text/javascript"></script>
        <script src="{{ asset('js/angular/ng-infinite-scroll.min.js') }}" type="text/javascript"></script>
        <script src="{{ asset('bundles/front/scripts/panels.js') }}" type="text/javascript"></script>

    </head>
    <body ng-app="panel-coltab" >
   <nav class="navbar navbar-fixed-top header">
      <div class="col-md-12">
        <div class="navbar-header">
          
          <a href="/" class="navbar-brand">COLTAB</a>
          <!-- <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse1">
          <i class="glyphicon glyphicon-search"></i>           
          </button> -->
   
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse1">
          <form class="navbar-form pull-left">
              <div class="input-group" style="width:290%;margin-left: 55px;">
                <input type="text" class="form-control" placeholder="Buscar" name="srch-term" id="srch-term">
                <div class="input-group-btn">
                  <button class="btn btn-default btn-primary" type="submit"><span   style="color: #fff;
                  " class="glyphicon glyphicon-search"></span></button>
                </div>
              </div>
          </form>
          <ul class="nav navbar-nav navbar-right">
             <li><a href="#" id="btnToggle"><i class="glyphicon glyphicon-th-large"></i></a></li>
               <li>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-bell"></i></a>
<!--[if lt IE 7]><html lang="es" class="lt-ie10 lt-ie9 lt-ie8 lt-ie7"><![endif]-->
<!--[if IE 7]><html lang="es" class="lt-ie10 lt-ie9 lt-ie8"><![endif]-->
<!--[if IE 8]><html lang="es" class="lt-ie10 lt-ie9"> <![endif]-->
<!--[if IE 9]><html lang="es" class="lt-ie10"> <![endif]-->
<!--[if gt IE 9]><!--> <html lang="es"> <!--<![endif]-->
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta charset="UTF-8"/>

    <title>{% block title %}COLTAB{% endblock %}</title>

    <link rel="shortcut icon" href="{{ asset('images/favicon.ico') }}">
    <link rel="shortcut icon" href="{{ asset('images/favicon-mobile.ico') }}">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Coltab Sitio de Gestion de Proyectos.">
    <meta name="author" content="Ferderico Colque y Mauricio Taborda">
    <!-- ESTILOS EXTRA -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!--Bootstrap BAStrap-->
    <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet" media="all">
    <link href="{{ asset('css/coltabStyles.css') }}" rel="stylesheet" media="all">
    <link href="{{ asset('css/jqueryUI.css') }}" rel="stylesheet" media="screen">
    <link href="{{ asset('bundles/template/css/viandas.css') }}" rel="stylesheet" media="all">
    <link href="{{ asset('bundles/template/css/submenu.css') }}" rel="stylesheet" media="screen">

    <!-- Estilos de la aplicación -->
    {% block stylesheets %}{% endblock %}

    <!--Bootstrap BAStrap + jQuery -->
    <script src="{{ asset('scripts/jquery.min.js') }}"></script>
    <script src="{{ asset('scripts/jqueryUI.js') }}"></script>
    <script src="{{ asset('scripts/bootstrap.min.js') }}"></script>
    <script src="{{ asset('scripts/cryptoJS.js') }}"></script>

    <!-- Angular JS -->
    <script src="{{ asset('scripts/angular/angular.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('scripts/angular/angular-route.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('scripts/angular/angular-resource.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('scripts/angular/angular-animate.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('scripts/angular/ui-bootstrap-tpls-0.13.3.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('scripts/angular/ng-infinite-scroll.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/template/scripts/panels.js') }}" type="text/javascript"></script>
{% if is_granted('IS_AUTHENTICATED_FULLY') %}
  {% for rol in roles %}
    {% if rol == 'ROLE_ADMIN' %}

      <script src="{{ asset('bundles/template/scripts/serviceValidarFecha.js') }}" type="text/javascript"></script>
      <script src="{{ asset('bundles/template/scripts/serviceValidarDoc.js') }}" type="text/javascript"></script>
      <script src="{{ asset('bundles/template/scripts/adminEfectores.js') }}" type="text/javascript"></script>
      <script src="{{ asset('bundles/template/scripts/adminPacientes.js') }}" type="text/javascript"></script>
      <script src="{{ asset('bundles/template/scripts/adminCarreras.js') }}" type="text/javascript"></script>
      <script src="{{ asset('bundles/template/scripts/gestionCalendarioComida.js') }}" type="text/javascript"></script>
      <script src="{{ asset('bundles/template/scripts/gestionUsuarios.js') }}" type="text/javascript"></script> 
    {% endif %}
  {% endfor %}         

{% endif %}
    <!-- Sistema VIANDAS -->
    {% block javascripts %} {% endblock %}
  </head>
  <body ng-app="panel-turnos" style="height: 80%;background-color: transparent;">
    <div class='mascaraHeader'>
      <header class="navbar navbar-primary navbar-top">
        <div class="container">
          <div class="row">
            <div class="col-md-6 col-sm-6">
              <a class="navbar-brand" href="#/">COLTAB</a>
            </div>
          </div>
        </div>
      </header>
  
    </div>
    <!-- NAVEGACIÓN PRINCIPAL -->
    <nav class="navbar navbar-default" role="navigation">
      <div class="container">
        <div class="row">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav">
              <span class="sr-only">Cambiar navegación</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/" title="Gobierno Electrónico">Sistema de Gestión de Proyectos</a>
          </div>
          <div class="collapse navbar-collapse" id="main-nav">
            <ul class="nav navbar-nav navbar-right">
              <li class="liInicio"><a href="#/"><i class="icon-home icon-white"></i>Inicio</a></li>
{% if is_granted('IS_AUTHENTICATED_FULLY') %}

  {% for rol in roles %}
<!--     {% if rol == 'ROLE_ADMIN' or rol == 'ROLE_JEFESERVICIO' or rol == 'ROLE_RRHH' %}
              <li class="dropdown liAdministrar">
                <a href="" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-tasks"></i>Administrar<b class="caret"></b></a>
                <ul class="dropdown-menu">

                  {% if rol == 'ROLE_ADMIN' %}
                  <li class="dropdown-submenu">
                    <a tabindex="-1" href="#/">Módulos</a>
                    <ul class="dropdown-menu">
                      <li><a href="#/adminModuloPacientes">Tipos de Módulo de Paciente</a></li>
                      <li><a href="#/adminTipoModulo">Tipos de Módulo Especial</a></li>
                      <li><a href="#/adminFormulas">Formulas</a></li>
                      <li><a href="#/adminComponentes">Componentes</a></li>
                    </ul>
                  </li>
                  {% endif %}

                  {% if rol == 'ROLE_ADMIN' %}
                  <li class="dropdown-submenu">
                    <a tabindex="-1" href="#/">Raciones</a>
                    <ul class="dropdown-menu">
                      <li><a href="#/adminCoeficientes">Coeficientes</a></li>
                      <li><a href="#/adminGrupoRefuerzos">Grupos de Refuerzos</a></li>
                      <li><a href="#/adminRefuerzos">Refuerzos</a></li>
                      <li><a href="#/adminRegimenes">Regímenes</a></li>
                    </ul>
                  </li>
                  {% endif %}

                  {% if rol == 'ROLE_ADMIN' or rol == 'ROLE_JEFESERVICIO' %}
                  <li class="dropdown-submenu">
                    <a tabindex="-1" href="#/">Inventarios</a>
                    <ul class="dropdown-menu">
                      <li><a href="#/adminStock">Stock</a></li>
                      <li><a href="#/adminInsumos">Insumos</a></li>
                    </ul>
                  </li>
                  {% endif %}

                  {% if rol == 'ROLE_ADMIN' or rol == 'ROLE_JEFESERVICIO' %}
                  <li class="dropdown-submenu">
                    <a tabindex="-1" href="#/">Efectores</a>
                    <ul class="dropdown-menu">
                      {% if rol == 'ROLE_ADMIN' %}
                      <li><a href="#/adminTipoEfector">Tipos de Efector</a></li>
                      <li><a href="#/adminEfectores">Efectores</a></li>
                      <li><a href="#/adminEspecialidades">Especialidades</a></li>
                      <li><a href="#/adminConcesionarios">Concesionarios</a></li>
                      <li><a href="#/adminDispositivos">Dispositivos</a></li>
                      {% endif %}
                    </ul>
                  </li>
                  {% endif %}

  
                </ul>
              </li>
    {% endif %} -->
    {% if rol == 'ROLE_CONCESIONARIO' or rol == 'ROLE_NUTRICIONISTA' or rol == 'ROLE_JEFESERVICIO' or rol == 'ROLE_JEFATURA' or rol == 'ROLE_HEMOTERAPIA' or rol == 'ROLE_ADMIN'%}
              <li class="dropdown liGestion">
                <a href="" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-tasks icon-white"></i>Gestión<b class="caret"></b></a>
                <ul class="dropdown-menu">
                    {% if rol == 'ROLE_NUTRICIONISTA' or rol == 'ROLE_JEFESERVICIO' or rol == 'ROLE_ADMIN'%}
                    <li><a href="#/gestionCalendarioComida">Calendario Comida</a></li>
                    {% endif %}
                    {% if rol == 'ROLE_ADMIN'%}
                    <li><a href="#/adminCarreras">Carreras</a></li>
                    {% endif %}
                </ul>
              </li>
    {% endif %}
<!--     {% if rol == 'ROLE_NUTRICIONISTA' or rol == 'ROLE_JEFESERVICIO' or rol == 'ROLE_REPORTES' or rol == 'ROLE_ADMIN' %}
              <li class="dropdown liReportes">
                <a href="" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-tasks"></i>Reportes<b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="#/reportesD">Reporte del Servicio de Comida(A-B)</a></li>
                    <li><a href="#/reportesA">Reporte de Distribución de Regímenes(C-D-E)</a></li>
                </ul>
              </li>
    {% endif %} -->
<!--     {% if rol == 'ROLE_NUTRICIONISTA' or rol == 'ROLE_JEFESERVICIO' or rol == 'ROLE_REPORTES' or rol == 'ROLE_ADMIN' %}
              <li class="dropdown liListados">
                <a href="" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-tasks"></i>Listados<b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="#/listadoDistribucion">Planilla de Distribución</a></li>
                  <li><a href="#/listadoRacionesEntregadasAutorizados">Planilla de Raciones Entregadas a Autorizados</a></li>
                  <li><a href="#/listadoAutorizadosdelDia">Planilla de Autorizados del Dia</a></li>
                  <li><a href="#/listadoLogSincronizacion">Log de Sincronización Tarjeta VOS</a></li>
                </ul>
              </li>
    {% endif %} -->
  {% endfor %}
{% endif %}
              <li class="dropdown liUsuarios">
                <a href="" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-user icon-white"></i>Usuarios<b class="caret"></b></a>
                <ul class="dropdown-menu">
{% if is_granted('IS_AUTHENTICATED_FULLY') %}
  {% for rol in roles %}
  {% if rol == 'ROLE_ADMIN' %}
                  <li><a href="#/gestionUsuarios">Administrar</a></li> 
  {% endif %}
  {% endfor %}           
                  <li><a href="/logout">Salir</a></li> 
{% else %}
                  <li><a href="/#/">Iniciar Sesión</a></li>
{% endif %}
                </ul>
             </li>
           </ul>
        </div>  
     </div> 
</nav>
<div class="navbar navbar-default" id="subnav">
    <div class="col-md-12">
        <div class="navbar-header">
          
          <a href="#" style="margin-left:15px;" class="navbar-btn btn btn-default btn-plus dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-home" style="color:#ffff;"></i> Home <small><i class="glyphicon glyphicon-chevron-down"></i></small></a>
          <ul class="nav dropdown-menu">
              <li><a href="#"><i class="glyphicon glyphicon-user" style="color:#1111dd;"></i> Profile</a></li>
              <li><a href="#"><i class="glyphicon glyphicon-dashboard" style="color:#0000aa;"></i> Dashboard</a></li>
              <li><a href="#"><i class="glyphicon glyphicon-inbox" style="color:#11dd11;"></i> Pages</a></li>
              <li class="nav-divider"></li>
              <li><a href="#"><i class="glyphicon glyphicon-cog" style="color:#dd1111;"></i> Settings</a></li>
              <li><a href="#"><i class="glyphicon glyphicon-plus"></i> More..</a></li>
          </ul>
          
          
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse2">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          </button>
      
              </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>


    <!-- FIN DE NAVEGACIÓN PRINCIPAL -->

    <!-- CONTENIDO -->
    <main class="main-container no-padding-top" role="main" style="height: auto; min-height:100%;">
      <section>
        <div class="container" ng-view id="bodycontainer"></div>
      </section>
    </main>

    <!-- FIN DE CONTENIDO -->
    <div class='mascaraFooter'>
    <footer>
     
      <div class="footer">
        <div class="container">
          <div class="row">
            <div class="col-md-8 col-sm-8">
              <a class="navbar-brand" style="text-decoration: none;color:white;" href="#/" >COLTAB</a>
            </div>
            <div class="col-md-4 col-sm-4">
              <div class="sub-brand">
                <p> © 2015 COLTAB • Todos los derechos reservados </p>
                <!--<p>Dirección General de Gobierno Electrónico<br />
                <span class="text-muted">Ministerio de Modernización</span></p>-->
              </div>
            </div>
          </div>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse2">
          <ul class="nav navbar-nav navbar-right">
             <li class="active"><a href="#">Posts</a></li>
             <li><a href="#loginModal" role="button" data-toggle="modal">Login</a></li>
             <li><a href="#aboutModal" role="button" data-toggle="modal">About</a></li>
           </ul>
        </div>  
     </div> 
</div>
<div id="main" class="container">

        {% block body %}
        {% endblock %}
</div>
        {% block javascripts %}{% endblock %}
    </body>
</html>


<script>
  
var a = true;
$(document).click(function(){
  setTimeout(function(){
    if($('.modal-header').closest('.modal').hasClass('in')){ 
      $.each($('.modal-body input, .modal-body select'),function(key, data){
        if(key == 0){
          if(a){
           $(data).focus(); 
           a = false;
          }
        }else{
        return;
        }
      })
    }else{
    a = true;
    }
  }, 300);
})

</script>
