{% if is_granted('IS_AUTHENTICATED_FULLY') %}
{% block stylesheets %}{% endblock %}
{% block javascripts %}{% endblock %}

<div class="containerAnimation">
    <h2 class="h1 text-center h2Title">Carreras</h2>
    <!-- <hr class="hr"> -->
    <div class="divABM">
        <button type="button" ng-click="add(form)" class="btn btn-primary btnAddData" data-toggle="modal" data-target="#addData"><span class="masElemIco">+</span>Carrera</button>
        <div class="filterSearch">
            <div><i class="icon-search"></i></div>
            <input type="search" ng-model="q" class="form-control" placeholder="Buscar ..." aria-label="filter friends" />
        </div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th colspan="16" class="titulo_tabla"></th>
                    </tr><tr>
                    <th>Nombre</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="dataList in datasLists | orderBy:'nombre' | filter:q as resultados">
                    <th>{[{dataList.nombre}]}</th>
                    <th>
                        <button type="button" class="btn btn-sm btn-default" data-toggle="modal" data-target="#addData" ng-click="edit(dataList)"><i class="icon-pencil"></i>Editar</button>
                        <button type="button" class="btn btn-sm btn-danger" data-toggle="modal" data-target="#delData" ng-click="del(dataList)"><i class="icon-trash icon-white"></i>Eliminar</button>
                    </th>
                </tr>
                <tr ng-if="resultados.length == 0">
                    <th>No Existen Carreras</th>
                    <th></th>
                    <th></th>
                </tr>
            </tbody>
        </table>
    </div>
</div>


<!-- Modal ADD AND EDIT--> 
<div id="addData" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="height:400px" data-keyboard="false" data-backdrop="static">
    <form role="form" name="formAdd" novalidate ng-keypress="($event.which === 13)?saveData(dataAdd,formAdd):0">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel"></h3>
        </div>
        <div class="modal-body"> 
          <div class="form-group">
            <label>Nombre <span class="colorError">*</span>
                <div class="ngShowError" ng-show="formAdd.$submitted || formAdd.descripcion.$touched">
                  <div ng-show="formAdd.nombre.$error.required" class="colorError">Ingrese un Nombre</div>
                </div>
            </label>
            <input type="text" class="form-control" ng-model="dataAdd.nombre" name="nombre" placeholder="Ingresar Nombre" required />
            <br />
          </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">Cancelar</button>
            <button class="btn btn-primary" type="submit" ng-click="saveData(dataAdd,formAdd)">Guardar</button>
        </div>
    </form>
</div>

<!-- Modal DELETE -->
<div id="delData" class="modal fade modal-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Eliminar Carrera</h3>
    </div>
    <div class="modal-body">
        <p>¿Está seguro que desea eliminar?</p>
    </div>
    <div class="modal-footer">
        <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">Cancelar</button>
        <button class="btn btn-primary" ng-click="deleteData(dataDel)">Eliminar</button>
    </div>
</div>


<!--script necesario -->
<script>

//animacion principal
jQuery('.containerAnimation').animate({'top':'0px','opacity':'1'},400);
</script>


{% else %}
<script>window.location.href = '#/'</script>
{% endif %}

