{% if is_granted('IS_AUTHENTICATED_FULLY') %}
{% block stylesheets %}{% endblock %}
{% block javascripts %}{% endblock %}

<div class="containerAnimation">
    <h2 class="h1 text-center h2Title">Usuarios</h2>
    <hr class="hr">
    <div class="divABM">
        <button type="button" ng-click="add(form)" class="btn btn-primary btnAddData" data-toggle="modal" data-target="#addData"><span class="masElemIco">+</span>Usuario</button>
        <div class="filterSearch">
            <div><i class="icon-search"></i></div>
            <input type="search" ng-model="q" class="form-control" placeholder="Buscar ..." aria-label="filter friends" />
        </div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th colspan="16" class="titulo_tabla"></th>
                    </tr><tr>
                    <th>Responsable</th>
                    <th>N° Doc.</th>
                    <th >Username</th>
                    <th >Rol</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="dataList in datasLists | orderBy:'descripcion' | filter:q as resultados">
                    <th>{[{dataList.nombre}]} {[{dataList.apellido}]}</th>
                    <th>{[{dataList.docnro}]}</th>
                    <th >{[{dataList.username}]}</th>
                    <th >{[{dataList.rol}]}</th>
                    <th>
                        <button type="button" class="btn btn-sm btn-info" data-toggle="modal" data-target="#blanqueoPass" ng-click="blanqueoPass(dataList)"><i class="glyphicon glyphicon-lock"></i>Blanqueo</button>
                        <button type="button" class="btn btn-sm btn-default" data-toggle="modal" data-target="#addData" ng-click="edit(dataList)"><i class="icon-pencil"></i>Editar</button>
                        <button type="button" class="btn btn-sm btn-danger" data-toggle="modal" data-target="#delData" ng-click="del(dataList)"><i class="icon-trash icon-white"></i>Eliminar</button>
                    </th>
                </tr>
                <tr ng-if="resultados.length == 0">
                    <th>No Existen Usuarios</th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </tbody>
        </table>
    </div>
</div>


<!-- Modal ADD AND EDIT-->
<div style="height:500px" id="addData" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static">
    <form role="form" name="formAdd" novalidate ng-keypress="($event.which === 13)?saveData(dataAdd,formAdd):0">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel"></h3>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label>Username Email <span class="colorError">*</span>
                <div class="ngShowError" ng-show="formAdd.$submitted || formAdd.username.$touched">
                  <div ng-show="formAdd.username.$error.required" class="colorError">Ingrese un Email</div>
                  <div ng-show="formAdd.username.$error.email" class="colorError">Ingrese un Email</div>
                </div>
            </label>
            <input type="email" class="form-control" ng-model="dataAdd.username" name="username" placeholder="Ingresar Email" required />
            <br />
          </div>
          <div class="form-group">
            <label>Rol <span class="colorError">*</span>
                <div class="ngShowError" ng-show="formAdd.$submitted || formAdd.role.$touched">
                  <div ng-show="formAdd.role.$error.required" class="colorError">Ingrese un Rol</div>
                </div>
            </label>
            <select type="text" class="form-control" ng-model="dataAdd.roles[0]" name="role" required>
                <option value="" ng-selected="true">-- Seleccionar Rol --</option>
                <option ng-if="roles.length == 0" disabled>No existen Roles</option>
                <option ng-if="roles == undefined" selected>Cargando ...</option>
                <option ng-repeat="rol in roles | orderBy:'descripcion'" value="{[{rol.role}]}" ng-selected="rol.role == dataAdd.roles[0]">{[{rol.descripcion}]}</option>
            </select>
            <br />
          </div> 
          <div class="form-group">
            <label>Nombre Responsable <span class="colorError">*</span>
                <div class="ngShowError" ng-show="formAdd.$submitted || formAdd.nombre.$touched">
                  <div ng-show="formAdd.nombre.$error.required" class="colorError">Ingrese un Nombre</div>
                  <div ng-show="formAdd.nombre.$error.pattern" class="colorError">Alfabético, Máx:50</div>
                </div>
            </label>
            <input type="text" class="form-control" ng-pattern="/^[a-zA-Z]{0,50}$/" ng-model="dataAdd.nombre" name="nombre" placeholder="Ingresar Nombre" required />
            <br />
          </div>
          <div class="form-group">
            <label>Apellido Responsable <span class="colorError">*</span>
                <div class="ngShowError" ng-show="formAdd.$submitted || formAdd.apellido.$touched">
                  <div ng-show="formAdd.apellido.$error.required" class="colorError">Ingrese un Apellido</div>
                  <div ng-show="formAdd.apellido.$error.pattern" class="colorError">Alfabético, Máx:50</div>
                </div>
            </label>
            <input type="text" class="form-control" ng-pattern="/^[a-zA-Z]{0,50}$/" ng-model="dataAdd.apellido" name="apellido" placeholder="Ingresar Apellido" required />
            <br />
          </div>  
          <div class="form-group">
            <label>Nro. de Documento <span class="colorError">*</span>
                <div class="ngShowError" ng-show="formAdd.$submitted || formAdd.documento.$touched">
                  <div ng-show="formAdd.documento.$error.required" class="colorError">Ingrese el Nro. de Documento</div>
                  <div ng-show="formAdd.documento.$error.pattern" class="colorError">Número Inválido</div>
                </div>
            </label>
            <input type="text" class="form-control" maxlength="8" ng-change="docChange(dataAdd.docnro)"  ng-model="dataAdd.docnro" name="documento" placeholder="Ingresar Nro. de Documento" ng-pattern="/^[Z0-9]{2,8}$/" required />
            <br />
          </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">Cancelar</button>
            <button class="btn btn-primary" type="submit" ng-click="saveData(dataAdd,formAdd)">Guardar</button>
        </div>
    </form>
</div>


<!-- Modal DELETE -->
<div id="delData" class="modal fade modal-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3>Eliminar Usuario</h3>
    </div>
    <div class="modal-body">
        <p>¿Está seguro que desea eliminar?</p>
    </div>
    <div class="modal-footer">
        <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">Cancelar</button>
        <button class="btn btn-primary" ng-click="deleteData(dataDel)">Eliminar</button>
    </div>
</div>


<!-- Modal BLANQUEO -->
<div style="height: 250px;" id="blanqueoPass" class="modal fade modal-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3></h3>
    </div>
    <div class="modal-body">
        <p>¿Está seguro que desea blanquear la contraseña?</p>
    </div>
    <div class="modal-footer">
        <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">Cancelar</button>
        <button class="btn btn-primary" ng-click="acceptBlanqueo(dataAdd)">Aceptar</button>
    </div>
</div>


<!--script necesario -->
<script>

//animacion principal
jQuery('.containerAnimation').animate({'top':'0px','opacity':'1'},400);
</script>


{% else %}
<script>window.location.href = '#/'</script>
{% endif %}

