{% if is_granted('IS_AUTHENTICATED_FULLY') %}
{% block stylesheets %}{% endblock %}
{% block javascripts %}{% endblock %}

<div class="containerAnimation">
    <h2 class="h1 text-center h2Title">Calendario de Comidas</h2>
    <hr class="hr">
    <div class="filtrosBusqueda">
      <div class="panel panel-default">
        <div class="panel-heading cursorPointer" data-toggle="collapse" data-target="#collapseOne">
          <h4 class="panel-title">
              Filtrado de Autorizados
          </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse in">
          <div class="panel-body">
                <form role="form" name="formFilter" novalidate>
                  <div class="form-group">
                    <label>Efector <span class="colorError">*</span>
                        <div class="ngShowError" ng-show="formFilter.$submitted || formFilter.efector.$touched">
                          <div ng-show="formFilter.efector.$error.required" class="colorError">Ingrese un Efector</div>
                        </div>
                    </label>
                    <select type="text" class="form-control" ng-model="dataSearch.efector.id" name="efector" required ng-change="changeEfector(dataSearch.efector.id)">
                      <option value="" ng-selected="true" disabled>-- Seleccionar Efector --</option>s
                      <option ng-repeat="efector in efectores | orderBy:'descripcion'" value="{[{efector.id}]}"  ng-selected="efector.id == dataFind.efector.id" >{[{efector.descripcion}]}</option>
                    </select>
                    <br />
                  </div> 
                  <div class="form-group">
                    <label>Servicio <span class="colorError">*</span>
                        <div class="ngShowError" ng-show="formFilter.$submitted || formFilter.servicio.$touched">
                          <div ng-show="formFilter.servicio.$error.required" class="colorError">Ingrese un Servicio</div>
                        </div>
                    </label>
                    <select type="text" class="form-control" ng-change="searchCalendario(dataSearch.servicio.id,dataSearch.efector.id,formFilter)" ng-model="dataSearch.servicio.id" name="servicio" required>
                      <option value="" ng-selected="true">-- Seleccionar Servicio --</option>
                      <option ng-if="servicios == undefined" selected>Cargando ...</option>
                      <option ng-if="servicios.length == 0" disabled>No existen Unidades de Internación</option>
                      <option ng-repeat="servicio in servicios | orderBy:'descripcion'" value="{[{servicio.id}]}" ng-selected="servicio.id == dataFind.servicio.id" >{[{servicio.descripcion}]}</option>
                    </select>
                    <br />
                  </div> 
                </form>
          </div>
        </div>
      </div>
    </div>

    
<div class="divABM">
    <div class="filterSearch">
        <div><i class="icon-search"></i></div>
        <input type="search" ng-model="q" class="form-control" placeholder="Buscar ..." aria-label="filter friends" />
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th colspan="16" class="titulo_tabla"></th>
                </tr><tr>
                <th title="Apellido">Apellido</th>
                <th title="Nombre">Nombre</th>
                <th title="Horas Semanales" class="text-center">Horas Semanales</th>
                <th title="Función" class="text-center">Función</th>
                <th title="Servicio" class="text-center">Servicio</th>
                <th class="text-center">Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="dataList in datasLists | filter: q as resultados">
                <th>{[{dataList.apellido}]}</th>
                <th>{[{dataList.nombre}]}</th>
                <th class="text-center">{[{dataList.horas_semana}]}</th>
                <th class="text-center">{[{dataList.funcion.descripcion}]}</th>
                <th class="text-center">{[{dataList.servicio.descripcion}]}</th>
                <th class="text-center">
                    <button ng-if="dataList.autorizado_fijo[0].calendario_comida == undefined" type="button" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#addData" ng-click="add(formAdd, dataList.autorizado_fijo[0].id)"><span class="masElemIco">+</span>Calendario</button>
                    <button ng-if="dataList.autorizado_fijo[0].calendario_comida != undefined" type="button" class="btn btn-sm btn-default" data-toggle="modal" data-target="#addData" ng-click="edit(dataList)"><i class="icon-pencil"></i>Editar Calendario</button>
                </th>
            </tr>
            <tr ng-if="resultados.length == 0">
                <th>No Existe Personal</th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>           
        </tbody>
    </table>
</div>


<!-- Modal ADD CALENDARIO COMIDA-->
<div style="height:400px;width:1020px;margin-left:-510px;margin-top:30px;" id="addData" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static">
    <form role="form" name="formAdd"  novalidate ng-keypress="($event.which === 13)?saveData(dataAdd.autorizado_fijo[0].calendario_comida,formAdd):0">
      <input type="hidden" value="dataAdd.id" />
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel"></h3>
        </div> 
        <div class="modal-body">
          <div class="form-group form-inline">
             <label>Comensales: <span class="colorError">*</span></label>
              <input type="number" placeholder="Comensales" name="comensales" ng-model="dataAdd.calendario_comida.comensales" class="form-control" ng-min="0" required>       
              <div class="ngShowError"  style="margin-left:315px;margin-top:-28px;position:absolute" ng-show="formAdd.$submitted || formAdd.comensales.$touched">
                <div ng-show="formAdd.comensales.$error.required" class="colorError">Ingrese el numero de comensales</div>
                <div ng-show="formAdd.comensales.$error.number" class="colorError">El campo es numérico</div>
                <div ng-show="formAdd.comensales.$error.min" class="colorError">No puede ser negativo</div>
              </div>       
          </div>

          <div class="form-group form-inline">
              <label>Comidas: <span class="colorError">*</span></label>
              <div class="checkbox input-lg ">
                <label><input type="checkbox" ng-model="dataAdd.tipoComida.Desayuno.check" name="desayuno">Desayuno</label>
              </div>
              <div class="checkbox input-lg ">  
                <label><input type="checkbox" ng-model="dataAdd.tipoComida.Almuerzo.check" name="almuerzo">Almuerzo</label>
              </div>
              <div class="checkbox input-lg ">  
                <label><input type="checkbox" ng-model="dataAdd.tipoComida.Merienda.check" name="merienda">Merienda</label>
              </div>
              <div class="checkbox input-lg ">  
                <label><input type="checkbox" ng-model="dataAdd.tipoComida.Cena.check" name="cena">Cena</label>
                </div>
              <div class="checkbox input-lg ">
                <label><input type="checkbox" ng-model="dataAdd.tipoComida.Colacion.check" name="colacion">Colación</label>
              </div>
              <div class="ngShowError" ng-show="formAdd.$submitted">
                <div ng-show="formAdd.tipo_comida_required" class="colorError">Ingrese un tipo de comida</div>
              </div>
          </div>
          <div class="form-group form-inline"><label>Días:<span class="colorError">*</span></label>
              <div class="checkbox input-lg ">
                <label><input type="checkbox" name="lunes" ng-model="dataAdd.calendario_comida.lunes">Lunes</label>
              </div>
              <div class="checkbox input-lg ">  
                <label><input type="checkbox" name="martes" ng-model="dataAdd.calendario_comida.martes">Martes</label>
              </div>
              <div class="checkbox input-lg ">  
                <label><input type="checkbox" name="miercoles" ng-model="dataAdd.calendario_comida.miercoles" >Miércoles</label>
              </div>
              <div class="checkbox input-lg ">  
                <label><input type="checkbox" name="jueves" ng-model="dataAdd.calendario_comida.jueves" >Jueves</label>
                </div>
              <div class="checkbox input-lg ">
                <label><input type="checkbox" name="viernes" ng-model="dataAdd.calendario_comida.viernes">Viernes</label>
              </div>
              <div class="checkbox input-lg ">
                <label><input type="checkbox" name="sabado" ng-model="dataAdd.calendario_comida.sabado">Sábado</label>
              </div>
              <div class="checkbox input-lg ">
                <label><input type="checkbox" name="domingo" ng-model="dataAdd.calendario_comida.domingo">Domingo</label>
              </div>
              <div class="ngShowError"  ng-show="formAdd.$submitted">
                <div ng-show="formAdd.dia_semana_required" class="colorError">Ingrese un dia</div>
              </div>
          </div>
           <div class="row">
            <div class="col-xs-6">
              <div class="form-group">
                <label>Repite secuencia desde <span class="colorError">*</span></label>
                <input readonly ng-model="dataAdd.calendario_comida.secuencia_desde" type="text" name="secuenciaDesde" class="form-control" required placeholder="Ingresar secuencia desde"/>
                <div class="ngShowError" style="margin:-26px 390px;position:absolute" ng-show="formAdd.$submitted || formAdd.secuenciaDesde.$touched">
                  <div ng-show="formAdd.secuenciaDesde.$error.required" class="colorError errorCalendario">Ingrese Secuencia desde</div>
                </div>
                <br />
              </div> 
            </div>
             <div class="col-xs-6">
              <div class="form-group">
                <label>Repite secuencia Hasta <span class="colorError">*</span></label>
                <input readonly ng-model="dataAdd.calendario_comida.secuencia_hasta" type="text" name="secuenciaHasta" class="form-control" required placeholder="Ingresar secuencia Hasta"/>
                <div class="ngShowError" style="margin:-26px 390px;position:absolute" ng-show="formAdd.$submitted || formAdd.secuenciaHasta.$touched">
                  <div ng-show="formAdd.secuenciaHasta.$error.required" class="colorError errorCalendario">Ingrese Secuencia hasta</div>
                </div>
                <br />
              </div>
             </div>    
          </div>
        </div>
        <div class="modal-footer">  
            <button type="button" ng-if="dataAdd.calendario_comida.id != undefined" title="Eliminar calendario" class="btn btn-sm btn-danger" data-toggle="modal" data-target="#delData" ng-click="del(dataAdd)" style="float:left"><i class="icon-trash icon-white"></i></button>
            <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">Cancelar</button>
            <button class="btn btn-primary" type="submit" ng-click="checkValid(dataAdd, formAdd ) && saveData(dataAdd,formAdd)">Guardar</button>
        </div>
    </form>
</div>



<!-- Modal DELETE -->
<div id="delData" class="modal fade modal-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Eliminar Calendario</h3>
    </div>
    <div class="modal-body">
        <p>¿Está seguro que desea eliminar?</p>
    </div>
    <div class="modal-footer">
        <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">Cancelar</button>
        <button class="btn btn-primary" ng-click="deleteData(dataDel)">Eliminar</button>
    </div>
</div>


<!--script necesario -->
<script>

$('#addData').on('show', function () {
    $.fn.modal.Constructor.prototype.enforceFocus = function () { };
});
//animacion principal
jQuery('.containerAnimation').animate({'top':'0px','opacity':'1'},400);
</script>


{% else %}
<script>window.location.href = '#/'</script>
{% endif %}
