{% block stylesheets %}{% endblock %}
{% block javascripts %}{% endblock %}

<div class="containerAnimation">
	<div class="divABM">

{% if is_granted('IS_AUTHENTICATED_FULLY') %}
    <h2 class="h1 text-center">Bienvenido al Sistema de Gestión de Proyectos</h2>
{% elseif is_granted('IS_AUTHENTICATED_REMEMBERED') %}
    # User logged in via a cookie (ie: Auth again before doing sensitive things)
{% elseif is_granted('IS_AUTHENTICATED_ANONYMOUSLY') %}
    {% render controller('CommonBundle:Security:login') %}
{% endif %}
    
</div>



<!--script necesario -->
<script>

//animacion principal
jQuery('#container_wait_modal').modal('hide');
jQuery('.containerAnimation').animate({'top':'0px','opacity':'1'},400);
</script>