.user{background: #f5f5f5; color:grey; position: relative; z-index: 1; min-height: 0px; padding: 5px 0px; -webkit-box-shadow: 0px 1px 10px 0px rgba(50, 50, 50, 0.7); -moz-box-shadow: 0px 1px 10px 0px rgba(50, 50, 50, 0.7); box-shadow: 0px 1px 10px 0px rgba(50, 50, 50, 0.8);}
input[readonly]{cursor: default !important}
.errorCalendario{top: -33px; position: relative; margin-left: -206px;}
.infoTable{position: relative; padding: 8px; float: left; margin-right: 10px; margin-bottom: 5px;}
.reportTable{border-right: solid 1px #e5e5e5;}
.btnPrint{float: right; bottom: -5px; position: relative;}
.title-reporte{cursor: pointer; position: relative; padding: 5px; background-color: #19aea7; margin: 10px 0px; border-top: 3px solid #009992; color: white; padding-top: 8px;}
.appendCalendar{position: absolute; top: 25px; right: 15px;}
.fijar{position:fixed;top:0px;z-index:1040;}
table thead th {cursor: default;}
.capitalize{text-transform: capitalize;}
.text-center{text-align: center;}
.cursorPointer{cursor:pointer;}
.floatLeftRadio{float:left;width:20px; margin: -5px 10px 20px;}
.floatLeftCheck{float:left; margin: -5px 30px 20px;}
.floatLeft span{left: -20px; position: relative; font-size: 20px;}
.floatLeftRadio input{left: -20px; position: relative;}
.h2Title{ position:absolute;}
.hr{position:relative; top:70px; margin-bottom:80px;}
.divABM{position:relative;  border: 1px solid #ccc; border-radius: 5px;background-color:#f5f5f5;margin-bottom: 20px;}
.btnAddData{position: relative; margin-top: 5px; margin-left: 5px;}
.masElemIco{position: relative; padding-right: 4px;}
.containerAnimation{margin-bottom: 20px;position:relative;opacity:0;top:-50px}
#main-nav i{position:relative; top:2px; left:-4px; opacity:.6;}
tbody button i{position:relative; top:-2px; left:-4px; opacity:.6;}
header.ng-scope{position:relative; margin-bottom:-50px; margin-left:-10px;z-index:5;}
.colorError{color:#ba2727;}
.filterSearch{position: relative; float: right; width: 200px; margin-top: -29px; margin-right: 5px;}
.filterSearch div{ position: relative; left: -28px; top: 34px; padding: 6px 12px; border: 1px solid transparent;
  width: 35px; border-radius: 5px 0px 0px 5px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f9f9f9), to(#eaeaea));
  background-image: -webkit-linear-gradient(top, #f9f9f9 0%, #eaeaea 100%);
  background-image: linear-gradient(to bottom, #f9f9f9 0%, #eaeaea 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#eaeaea',GradientType=0 );
  /* background-color: #eaeaea; */
  border-color: #d0d0d0;}
.filterSearch i{transform: scale(1.3); position: relative; left: -1px; opacity:.6; top:2px;}
div.ngShowError{position: relative; float: right; margin-left: 10px; font-weight: normal; font-family: "OpenSans", Helvetica, Arial, sans-serif;}
.datePickerKendo{ width:100%; position:relative; margin-bottom: 25px;}
.checkboxHV{margin:20px 0px 90px;}
.boxCheckbox{position: absolute;top: 15px;right: 10px;width: 280px;}
.boxCheckbox .checkboxHVRight{position: relative;float: left;margin-left: 20px;border-left: 1px solid;padding-left: 5px;}
.boxCheckbox .checkboxHVRight h4{border-bottom: 1px solid black;}
.checkboxHVLeft{ top: 10px; position: relative;}

.delegar{position: relative; width: 30%; height: 70px; padding: 10px; margin: auto; text-align: center; border-top: 2px solid black;}

.main-container{padding-bottom:40px;}
.footer{ padding: 20px 0;}
.hrFooter{ position: relative; margin-top: -50px;}

#container_wait_modal{height: 110px; width: 460px; left: 50%; margin-left: -230px; text-align: center; padding: 15px; margin-top:40px;}
.loading_bar {background: url('../../../images/ajax-loader.gif') no-repeat; height: 30px; position: relative; margin:auto; width:230px;}
.form-group{margin-bottom: 10px;}

.reloadCaptcha{transform: scale(1.3);position: relative;float: right;margin: -25px 10px;cursor: pointer;}

/* Adaptacion CSS mobile */
@media (max-width: 1200px) {
	.h2Title{position:relative;margin-top:40px;}
	.hr{position:relative; top:-10px; margin-bottom:auto;}
	.divABM{position:relative;}
}

/* STOCK */
.stock_warning{background-color: #f5ec87 !important}
.stock_danger{background-color: #f58787 !important}
.movimiento_entrada{background-color: #87F594 !important}
.movimiento_salida{background-color: #f58787 !important}

/* MODAL */
.modal-success{  background-image: -webkit-gradient(linear, left top, left bottom, from(#9bc12b), to(#6eaa2e));
  background-image: -webkit-linear-gradient(top, #9bc12b 0%, #6eaa2e 100%);
  background-image: linear-gradient(to bottom, #9bc12b 0%, #6eaa2e 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9bc12b', endColorstr='#6eaa2e',GradientType=0 );
  background-color: #6eaa2e;
  border-color: #679239;}
.modal-danger{background-image: -webkit-linear-gradient(top,#d9534f 0,#c12e2a 100%);
  background-image: -o-linear-gradient(top,#d9534f 0,#c12e2a 100%);
  background-image: -webkit-gradient(linear,left top,left bottom,from(#d9534f),to(#c12e2a));
  background-image: linear-gradient(to bottom,#d9534f 0,#c12e2a 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd9534f', endColorstr='#ffc12e2a', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  background-repeat: repeat-x;
  border-color: #b92c28;}
.modal-backdrop {position: fixed; top: 0; right: 0; bottom: 0; left: 0; z-index: 1040; background-color: #000000;}
.modal-backdrop.fade { opacity: 0;}
.modal-backdrop,.modal-backdrop.fade.in {opacity: 0.8; filter: alpha(opacity=80);}
.modal {
  position: fixed;
  top: 10%;
  left: 50%;
  height:300px;
  overflow:hidden;
  z-index: 1050;
  width: 560px;
  margin-left: -280px;
  background-color: #ffffff;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, 0.3);
  *border: 1px solid #999;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  outline: none;
  -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
     -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
          box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -webkit-background-clip: padding-box;
     -moz-background-clip: padding-box;
          background-clip: padding-box;
}

.modal.fade {
  top: -25%;
  -webkit-transition: opacity 0.3s linear, top 0.3s ease-out;
     -moz-transition: opacity 0.3s linear, top 0.3s ease-out;
       -o-transition: opacity 0.3s linear, top 0.3s ease-out;
          transition: opacity 0.3s linear, top 0.3s ease-out;
}
.modal.fade.in { top: 10%;}
.modal-header { padding: 9px 15px; border-bottom: 1px solid #eee;}
.modal-header .close { margin-top: 2px;}
.modal-header h3 { margin: 0; line-height: 30px;}
.modal-body { position: relative; max-height: 400px; padding: 15px; overflow-y: auto;}
.modal-form { margin-bottom: 0;}
.modal-footer {
	position:absolute;
	width: 100%;
	bottom:0px;
	padding: 14px 15px 15px;
	margin-bottom: 0;
	text-align: right;
	background-color: #f5f5f5;
	border-top: 1px solid #ddd;
	-webkit-border-radius: 0 0 6px 6px;
	 -moz-border-radius: 0 0 6px 6px;
	      border-radius: 0 0 6px 6px;
	*zoom: 1;
	-webkit-box-shadow: inset 0 1px 0 #ffffff;
	 -moz-box-shadow: inset 0 1px 0 #ffffff;
	      box-shadow: inset 0 1px 0 #ffffff;
}
.modal-footer:before,.modal-footer:after { display: table; line-height: 0; content: "";}
.modal-footer:after { clear: both;}
.modal-footer .btn + .btn { margin-bottom: 0; margin-left: 5px;}
.modal-footer .btn-group .btn + .btn { margin-left: -1px;}
.modal-footer .btn-block + .btn-block { margin-left: 0;}
.modal-delete{ height: 180px;}
/* iconos bootstrap */

[class^="icon-"],
[class*=" icon-"] {
  display: inline-block;
  width: 14px;
  height: 14px;
  margin-top: 1px;
  *margin-right: .3em;
  line-height: 14px;
  vertical-align: text-top;
  background-image: url("../../../images/glyphicons-halflings.png");
  background-position: 14px 14px;
  background-repeat: no-repeat;
}

/* White icons with optional class, or on hover/focus/active states of certain elements */

.icon-white,
.nav-pills > .active > a > [class^="icon-"],
.nav-pills > .active > a > [class*=" icon-"],
.nav-list > .active > a > [class^="icon-"],
.nav-list > .active > a > [class*=" icon-"],
.navbar-inverse .nav > .active > a > [class^="icon-"],
.navbar-inverse .nav > .active > a > [class*=" icon-"],
.dropdown-menu > li > a:hover > [class^="icon-"],
.dropdown-menu > li > a:focus > [class^="icon-"],
.dropdown-menu > li > a:hover > [class*=" icon-"],
.dropdown-menu > li > a:focus > [class*=" icon-"],
.dropdown-menu > .active > a > [class^="icon-"],
.dropdown-menu > .active > a > [class*=" icon-"],
.dropdown-submenu:hover > a > [class^="icon-"],
.dropdown-submenu:focus > a > [class^="icon-"],
.dropdown-submenu:hover > a > [class*=" icon-"],
.dropdown-submenu:focus > a > [class*=" icon-"] {
  background-image: url("../../../images/glyphicons-halflings-white.png");
}

.icon-glass { background-position: 0 0;}
.icon-music { background-position: -24px 0;}
.icon-search { background-position: -48px 0;}
.icon-envelope { background-position: -72px 0;}
.icon-heart { background-position: -96px 0;}
.icon-star { background-position: -120px 0;}
.icon-star-empty { background-position: -144px 0;}
.icon-user { background-position: -168px 0;}
.icon-film { background-position: -192px 0;}
.icon-th-large { background-position: -216px 0;}
.icon-th { background-position: -240px 0;}
.icon-th-list { background-position: -264px 0;}
.icon-ok { background-position: -288px 0;}
.icon-remove { background-position: -312px 0;}
.icon-zoom-in { background-position: -336px 0;}
.icon-zoom-out { background-position: -360px 0;}
.icon-off { background-position: -384px 0;}
.icon-signal { background-position: -408px 0;}
.icon-cog { background-position: -432px 0;}
.icon-trash { background-position: -456px 0;}
.icon-home { background-position: 0 -24px;}
.icon-file { background-position: -24px -24px;}
.icon-time { background-position: -48px -24px;}
.icon-road { background-position: -72px -24px;}
.icon-download-alt { background-position: -96px -24px;}
.icon-download { background-position: -120px -24px;}
.icon-upload { background-position: -144px -24px;}
.icon-inbox { background-position: -168px -24px;}
.icon-play-circle { background-position: -192px -24px;}
.icon-repeat { background-position: -216px -24px;}
.icon-refresh { background-position: -240px -24px;}
.icon-list-alt { background-position: -264px -24px;}
.icon-lock { background-position: -287px -24px;}
.icon-flag { background-position: -312px -24px;}
.icon-headphones { background-position: -336px -24px;}
.icon-volume-off { background-position: -360px -24px;}
.icon-volume-down { background-position: -384px -24px;}
.icon-volume-up { background-position: -408px -24px;}
.icon-qrcode { background-position: -432px -24px;}
.icon-barcode { background-position: -456px -24px;}
.icon-tag { background-position: 0 -48px;}
.icon-tags { background-position: -25px -48px;}
.icon-book { background-position: -48px -48px;}
.icon-bookmark { background-position: -72px -48px;}
.icon-print { background-position: -96px -48px;}
.icon-camera { background-position: -120px -48px;}
.icon-font { background-position: -144px -48px;}
.icon-bold { background-position: -167px -48px;}
.icon-italic { background-position: -192px -48px;}
.icon-text-height { background-position: -216px -48px;}
.icon-text-width { background-position: -240px -48px;}
.icon-align-left { background-position: -264px -48px;}
.icon-align-center { background-position: -288px -48px;}
.icon-align-right { background-position: -312px -48px;}
.icon-align-justify { background-position: -336px -48px;}
.icon-list { background-position: -360px -48px;}
.icon-indent-left { background-position: -384px -48px;}
.icon-indent-right { background-position: -408px -48px;}
.icon-facetime-video { background-position: -432px -48px;}
.icon-picture { background-position: -456px -48px;}
.icon-pencil { background-position: 0 -72px;}
.icon-map-marker { background-position: -24px -72px;}
.icon-adjust { background-position: -48px -72px;}
.icon-tint { background-position: -72px -72px;}
.icon-edit { background-position: -96px -72px;}
.icon-share { background-position: -120px -72px;}
.icon-check { background-position: -144px -72px;}
.icon-move { background-position: -168px -72px;}
.icon-step-backward { background-position: -192px -72px;}
.icon-fast-backward { background-position: -216px -72px;}
.icon-backward { background-position: -240px -72px;}
.icon-play { background-position: -264px -72px;}
.icon-pause { background-position: -288px -72px;}
.icon-stop { background-position: -312px -72px;}
.icon-forward { background-position: -336px -72px;}
.icon-fast-forward { background-position: -360px -72px;}
.icon-step-forward { background-position: -384px -72px;}
.icon-eject { background-position: -408px -72px;}
.icon-chevron-left { background-position: -432px -72px;}
.icon-chevron-right { background-position: -456px -72px;}
.icon-plus-sign { background-position: 0 -96px;}
.icon-minus-sign { background-position: -24px -96px;}
.icon-remove-sign { background-position: -48px -96px;}
.icon-ok-sign { background-position: -72px -96px;}
.icon-question-sign { background-position: -96px -96px;}
.icon-info-sign { background-position: -120px -96px;}
.icon-screenshot { background-position: -144px -96px;}
.icon-remove-circle { background-position: -168px -96px;}
.icon-ok-circle { background-position: -192px -96px;}
.icon-ban-circle { background-position: -216px -96px;}
.icon-arrow-left { background-position: -240px -96px;}
.icon-arrow-right { background-position: -264px -96px;}
.icon-arrow-up { background-position: -289px -96px;}
.icon-arrow-down { background-position: -312px -96px;}
.icon-share-alt { background-position: -336px -96px;}
.icon-resize-full { background-position: -360px -96px;}
.icon-resize-small { background-position: -384px -96px;}
.icon-plus { background-position: -408px -96px;}
.icon-minus { background-position: -433px -96px;}
.icon-asterisk { background-position: -456px -96px;}
.icon-exclamation-sign { background-position: 0 -120px;}
.icon-gift { background-position: -24px -120px;}
.icon-leaf { background-position: -48px -120px;}
.icon-fire { background-position: -72px -120px;}
.icon-eye-open { background-position: -96px -120px;}
.icon-eye-close { background-position: -120px -120px;}
.icon-warning-sign { background-position: -144px -120px;}
.icon-plane { background-position: -168px -120px;}
.icon-calendar { background-position: -192px -120px;}
.icon-random { width: 16px; background-position: -216px -120px;}
.icon-comment { background-position: -240px -120px;}
.icon-magnet { background-position: -264px -120px;}
.icon-chevron-up { background-position: -288px -120px;}
.icon-chevron-down { background-position: -313px -119px;}
.icon-retweet { background-position: -336px -120px;}
.icon-shopping-cart { background-position: -360px -120px;}
.icon-folder-close { width: 16px; background-position: -384px -120px;}
.icon-folder-open { width: 16px; background-position: -408px -120px;}
.icon-resize-vertical { background-position: -432px -119px;}
.icon-resize-horizontal { background-position: -456px -118px;}
.icon-hdd { background-position: 0 -144px;}
.icon-bullhorn { background-position: -24px -144px;}
.icon-bell { background-position: -48px -144px;}
.icon-certificate { background-position: -72px -144px;}
.icon-thumbs-up { background-position: -96px -144px;}
.icon-thumbs-down { background-position: -120px -144px;}
.icon-hand-right { background-position: -144px -144px;}
.icon-hand-left { background-position: -168px -144px;}
.icon-hand-up { background-position: -192px -144px;}
.icon-hand-down { background-position: -216px -144px;}
.icon-circle-arrow-right { background-position: -240px -144px;}
.icon-circle-arrow-left { background-position: -264px -144px;}
.icon-circle-arrow-up { background-position: -288px -144px;}
.icon-circle-arrow-down { background-position: -312px -144px;}
.icon-globe { background-position: -336px -144px;}
.icon-wrench { background-position: -360px -144px;}
.icon-tasks { background-position: -384px -144px;}
.icon-filter { background-position: -408px -144px;}
.icon-briefcase { background-position: -432px -144px;}
.icon-fullscreen { background-position: -456px -144px;}
.i-center{ margin-right: -7px;}
.i-center-edit{ margin:0px -2px -6px 6px;}

